extends layout

block content
    div.bgempty
        div.container.h-100
            div.row.h-100.justify-content-center.align-items-center
                div.col-md-6
                    h1 My Menu

                    form(method='POST' action='/menu/update/#{data.id}')

                        div.form-group
                            label Name:
                            input.form-control(type='text', name='name', value=`${data.name}`)
                        div.form-group
                            label Description:
                            textarea(name='description') #{data.description}
                        div.form-group
                            label.checkbox-inline Allergies:
                            each row in allergies
                                - var checked = false
                                if(data.allergyIds.indexOf(row.id) !== -1)
                                    - checked = true;
                                input(type="checkbox", name=row.name, value=row.id, checked=checked)
                                span=row.name
                        div
                            button.btn.btn-primary(type='submit') Update
                            a.btn.btn-danger(href="/menu/delete/" + data.id role="button") Delete
